# pandas 1

pandasはリッチなデータ構造と関数を提供します。DataFrameと呼ばれる二次元の表形式で分析を容易にします。そのほか、リレーショナルデータベース（SQLなど）の柔軟なデータ操作能力を持ち合わせます。
もともと金融データ分析アプリケーションとしてのツールとして設計されたこともあり、時系列データも扱いやすいです。

## pandasの基本的な使い方

- DataFrame : 多次元、行と列がある。（いわゆる表形式）
- Series　: 1次元。一つの行もしくは列のみ。

<img src="https://www.yuyashibuya.com/files/studygroup/pandas.png" width =800px >

In [ ]:
import pandas as pd #pandasはpdとしてimportすることが慣例となっています。
import numpy as np

テーブルデータをつくってみましょう。

まずは、1列ずつデータをpd.Seriesで作ります。

In [ ]:
price = pd.Series([100, 40, 300, np.nan , 500, 1000, 300, 400, 240, 3000])
print(price)

NameError: ignored

In [ ]:
num = pd.Series([5, 2, 1, 0, 4, 200, 7, 19, 20, 100])

In [ ]:
datetimes = pd.date_range('20180601', periods=10, freq= '627H')
print(datetimes)

列データを組み合わせてデータフレームを作ります

In [ ]:
df = pd.DataFrame({'price':price, 'num': num, 'datetime': datetimes })
df

上のやり方のように１列ずつ作ってもOKですが、次のcellのようにまとめて作ることもできます。

In [ ]:
df = pd.DataFrame({'price':[100, 40, 300, np.nan , 500, 1000, 300, 400, 240, 3000], 
                   'num': [5, 2, 1, 0, 4, 200, 7, 19, 20, 100],
                   'datetime': pd.date_range('20180601', periods=10, freq= '627H') })
df

    price  num            datetime
0   100.0    5 2018-06-01 00:00:00
1    40.0    2 2018-06-27 03:00:00
2   300.0    1 2018-07-23 06:00:00
3     NaN    0 2018-08-18 09:00:00
4   500.0    4 2018-09-13 12:00:00
5  1000.0  200 2018-10-09 15:00:00
6   300.0    7 2018-11-04 18:00:00
7   400.0   19 2018-11-30 21:00:00
8   240.0   20 2018-12-27 00:00:00
9  3000.0  100 2019-01-22 03:00:00

dfのタイプを確認します。

In [ ]:
type(df)

pandas.core.frame.DataFrame

`price`列の型も確認してみましょう

In [ ]:
type(df['price'])

pandas.core.series.Series

２つ以上の列（もしくは行）を選択すると`Series`ではなく`DataFrame`となります。

In [ ]:
type(df[['price','num']])

pandas.core.frame.DataFrame

１つの行もSeriesです。

In [ ]:
df.iloc[0]

price                       100
num                           5
datetime    2018-06-01 00:00:00
Name: 0, dtype: object

In [ ]:
type(df.iloc[0])

pandas.core.series.Series

`dtypes`で列ごとのタイプを一括して確認できます

In [ ]:
df.dtypes

`head`で行数を指定することで、DataFrameの最初の3行を表示できます

In [ ]:
df.head(3)

DataFrameのランダムな3行を表示するには`sample`を用います

In [ ]:
df.sample(3)

DataFrameの最後の3行を`tail`を用いて表示できます

In [ ]:
df.tail(3)

DataFrameのIndexを確認します

In [ ]:
df.index

DataFrameのcolumnsを確認します

In [ ]:
df.columns

列の抽出は次のように列名を指定することできます

In [ ]:
df['price']

複数列の抽出の抽出もできます

In [ ]:
df[['price','datetime']]

特定の列をindexにすることもできます

In [ ]:
df = df.set_index(['datetime'])
df

In [ ]:
print(df.index[0]) # indexの0番目の値を確認
print(df.index[-1]) # indexの末尾の値を確認

indexをresetして0から振り直すには`reset_index`が使えます。

In [ ]:
df = df.reset_index()
df.head(2)

indexには複数の列を指定することも可能です。（Multiindex）

In [ ]:
df = df.set_index(['datetime','num'])
df

In [ ]:
#　indexをresetするには`reset_index`を使います。
df = df.reset_index()
df